@import "./reset.scss";

body {
  background-color: #e9fac8;
  background-image: url("../../assets/svg/golf-color.svg"),
    url("../../assets/images/sample-image.jpeg");
  background-repeat: no-repeat;
}
